body{
	margin:auto;
	background-color: #e3e3e3;
	width:600px;
}
article img{
	float: left;
	margin-right: 25px;
}
.content{
	font-family: sans-serif;
	line-height: 20px;
	float: right;
	width:325px;
}
a{
	color:green;
}
a:hover{
	color:black;
}
article li{
	
	display: inline;

}